body{
	margin:0;
	padding: 0;
	font-family: 'Open Sans Light', sans-serif;
	background: #f6f6f6;
	width: 100%;
	display: flex;
	flex-direction: column;

}
a{
	text-decoration: none;
}

header{
	background: #fff;
	box-shadow: -8px -6px 5px 5px #999797;
	height: 5%;
	/*border-bottom: 1px solid #000;*/
	margin: 0;
	/*padding-right: 2%;*/
	display: flex;
	justify-content: space-between;
	/*position: fixed;*/
	/*display: block;*/

}

.container{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	background: #f6f6f6;
}

.sidebar{
	/*margin-top: 5%;*/
	background-color: #2b4766ed;
	/*height: 200vh;*/
	width: 25vw;
	display: flex;
	flex-direction: column;
	/*display: block;*/
/*position: fixed;*/
	height: 100%;	
	
}

.main{
	/*margin-left: 250px;*/
	/*background-color: white;*/
	width: inherit;
	display: flex;
	flex-direction: column;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*//padding: 5px 0px;*/
	border-bottom: 2px solid black;

}
.welcome{
	margin-top: 1%;
	/*padding: 2%;*/
	width: 50%;
	color: #36596d8f;
}

.logout{
	font-size: 15px;
	text-align: center;
}

.logout a{
	margin-right: 20%;
	color: #2b4766ed;
	/*padding: 2%;*/
}

.upper{
	text-transform:  uppercase;
}
.center{
	text-align:center;
	width: 95%;
	border: 0;
}

.center th{

}
.error{
	color: red;
}
.success{
	color: green;
}
.orange{
		/*background-color: #FA8B6D;*/
}
.light-blue{
		/*background-color: #51B5AB;*/
}
.purple{
		/*background-color:#AB95D5;*/
}
.red{
	color: red;
}
.logo{
	padding: 0;
	
}

.logo img{
	width: 106%; height: 100%; box-shadow:2px -1px #bebebe82}
.login-logo{
	width: 100%;
	/*margin-top: 2%;
	 margin-bottom: 2%;*/
	height: 100px;

}



[id^=student], [id^=module], [id^=staff],[id^=course],[id^=admin]{
	display: none;
}
[id^=student]:checked+ .dropdown-student{
	display:block;
}
[id^=admin]:checked+ .dropdown-admin{
	display:block;
}
[id^=module]:checked+ .dropdown-module{
	display:block;
}
[id^=staff]:checked+ .dropdown-staff{
	display:block;
}
[id^=course]:checked+ .dropdown-course{
	display:block;
}
.dropdown-student, .dropdown-module, .dropdown-staff, .dropdown-course,.dropdown-admin{
	display: none;
}
.menu ul li{
	/*margin: 5% 0 5% 0;*/
	font-size: 15px;
	color: white;
	list-style: none;
	padding: 8%;
	border-bottom: 1px solid #7c9fc294;
	/*text-align: center;*/
}
.menu ul li:hover{
	background: #2d6d9b5c;
	cursor: pointer;
	transition: 0.9s;
}


ul{
	padding: 0;
	margin:15% 0 0 0;
}

.dropdown-student{
	padding: 0;
	margin:0;

}

.dropdown-student li{
	margin-top: 5%;}

	
.login a{
	text-decoration: none;
	color: #6d6b6b;
}

.sidebar a{
	text-decoration: none;
	color: #fff;
}
b{
  border: dashed white;
  display: inline-block;
  border-width: 0 3px 3px 0;
  padding: 3px;
}
.down{
	margin-left: 35%;
	transform: rotate(45deg);
}
.down:hover{
	cursor: pointer;
}
.display{
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	color: #fff;
	justify-content: space-around;
}
.box{
	color: #fff;
	background: #1b80c2;
	text-align: center;
	padding: 20px;
	width: 22%;
	/*border: 2px solid white;*/
	height: 20vh;
	border-radius: 2% 2% 2% 2%;
	font-size: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 7px 5px 9px 0px #9ecae7;
}
.box :hover{
	color: #cfcfcf;
	transition: 0.5s;
}
.box h2{
	margin:0px;
	padding:0px;
	/*border-bottom: 2px solid white;*/
}
.detail{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.detail h3{
	margin: 10% 5% 0 10%;
	width: 30%;
		font-size: 30px;}
.box p{
	font-size: 15px;
}


.box  img{

	width: 70px;
	height: 70px;
}

.form{
	width: 300px;
	/*margin: 5px 0;*/
	/*padding: 0px 20px;*/
	margin-top: 2%;
	padding: 1%;
	font-size: 18px;
	border:2px solid gray;
	box-shadow: 10px 10px 5px gray;
}


.login{
	width: 25%;
	height: 70%;
	position: fixed;
	top: 0;
	right: 0;
    bottom: 0;
    left: 0;
	margin:  auto;
	padding: 10px;
	margin: auto;
	/*border: 2px solid white;*/
	/*box-shadow: 10px 10px 90px black;*/
	position: absolute;
	border-radius: 10px;
}

/*login button*/

#login_form input{
	margin-left: 0;
}
.form h3{
	text-align: center;
}
.form label{
		margin: 1% 1% 1% 4%;
}
.form input[type="submit"]{
	background:#215c78  ;
	color: white;
	margin-left: 30%;
	/*border: 2px solid #215c78;*/
	width: 50%;
	height: 40px;
	border-radius: 10px;
}

/*input[type="submit"]:hover{
	background: #215c7854;
	color: #215c78;
	cursor: pointer;
}
input[type="text"], input[type="password"], input[type="date"],select{
	width: 100%;
	padding: 1%;
	height: 10%;
	margin: 1% 1% 1% 4%;
	font-size: 18px;
	/*box-shadow: 5px 5px 5px gray;*/
}*/
input[type="checkbox"]{
	width: 30px;
	height: 30px;
	vertical-align:middle;

}
.staff-course{
width: 200px;
}
input[type="submit"]{

	background:#215c78  ;
	color: white;
	border: none;	
	/*width: 100%;*/
	height: 40px;
	border-radius: 10px;

}
textarea{
	width: 100%;
	height: 150px;
	resize: none;
}
.display-center{
	margin-left: 5vw;
	
	width: inherit;
}


table td,th{
	padding: 1%;
}



/*welcom*/
h1	{
	padding: 0;
	text-align: center;
	margin: 0;
}

article{
	text-align: center;
}


.content .form{
	margin-left: 25%;
	width: 50%;
}
.content form{
	width: 90%;

}

#logout_area{
	list-style: none;
	margin-top: 45%;
}


/*for student form*/
.student_form form .submit  {
	padding: 1%;
	/*width: 80vw;*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.student_form  form  .submit .name {
	width: 20vw;

	flex: 0 40%
}

.student_form  form .submit .info{
	width: 20vw;
	flex: 0 40%
}
.student_form  form .submit .imp{
	width: 20vw;
	flex: 0 40%
}

.student_form  form .submit input[type="text"], input[type="password"], input[type="date"] 
{
	margin: 1% 0 1% 0;
}

.student_form  form  input[type="submit"]
{
	width: 20vw;
	margin-left: 1%;
}

.black{
	color: black;

}

.info ul{
	
	margin-top:0;
}


.imp ul{
	
	margin-top:0;
}


.info ul li {
	width: 40%;
	background: #93c8ff42; 	margin-bottom: 	1%;
}
.info ul li label{
	font-weight: bold;
}

ul{
	list-style: none;
}